include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

include lancet/default-settings.ini
include lancet/helper.sh
include entry-points.ini

include requirements-dev.txt
include requirements-test.txt
include requirements.txt

exclude .coveragerc

prune docs
