cffi==1.11.5
click==6.7
gnureadline==6.3.8
jira==1.0.15
keyring==12.2.1
oauthlib==2.1.0
pycparser==2.18
pygit2==0.27.1
python-slugify==1.2.5
requests-oauthlib==1.0.0
requests==2.19.0
six==1.11.0
tlslite==0.4.9
Unidecode==1.0.22
github3.py==1.1.0
uritemplate.py==3.0.2
giturlparse.py==0.0.5
Jinja2==2.10
MarkupSafe==1.0
raven<5.2
tabulate==0.8.2
