cffi==1.11.5
click==7.0
gnureadline==6.3.8
jira==2.0.0
keyring==17.0.0
oauthlib==2.1.0
pycparser==2.19
pygit2==0.27.2
python-slugify==1.2.6
requests-oauthlib==1.0.0
requests==2.20.1
six==1.11.0
tlslite==0.4.9
Unidecode==1.0.23
github3.py==1.2.0
uritemplate.py==3.0.2
giturlparse.py==0.0.5
Jinja2==2.10
MarkupSafe==1.1.0
raven<5.2
tabulate==0.8.2
